src/ExpressionEngine/bin/*
src/ExpressionEngine/obj
src/ExpressionEngine.Tests
src/ExpressionEngine.Tests
src/ExpressionEngine.Console/bin/*
src/ExpressionEngine.Console/obj
*.suo
*.userprefs
*~
*.pidb
*.test-cache
*.user
src/ExpressionEngine/test-results/*
src/ExpressionEngine.Tests/test-results/*
*.DS_Store
